# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# Data and Models
data/*
!data/.gitkeep
models/
*.pt
*.pth
*.h5
*.hdf5
*.pkl
*.model

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.gz
*.toc
*.fls
*.fdb_latexmk

# OS
.DS_Store
Thumbs.db
